  @font-face {
    font-family: 'MyCustomFont'; /* Name the font */
    src: url('./fonts/Blacknorthdemo-mLE25.otf') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'headingFont'; /* Name the font */
    src: url('./fonts/Rockybilly.ttf') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'blacktoblack'; /* Name the font */
    src: url('./fonts/Back\ to\ Black\ Demo.ttf') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'magenta-rose'; /* Name the font */
    src: url('./fonts/Magenta\ Rose.ttf') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'Akayla'; /* Name the font */
    src: url('./fonts/AkaylaScriptDeco_PERSONAL.ttf') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'AkaylaS'; /* Name the font */
    src: url('./fonts/AkaylaScript_PERSONAL.ttf') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'sakana'; /* Name the font */
    src: url('./fonts/Sakana.ttf  ') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'wonderland'; /* Name the font */
    src: url('./fonts/Beyond\ Wonderland.ttf') format('truetype'); /* Path to the font */
  }
  @font-face {
    font-family: 'teamspirit'; /* Name the font */
    src: url('./fonts/Exo-ExtraLight.otf') format('truetype'); /* Path to the font */
  }

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
  }
body{
   background: linear-gradient(-45deg,rgb(23, 25, 25),rgb(15, 15, 15));
   overflow: hidden; 
}

/* background effet */
.circle1,.circle2,.circle3{
    width:300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(50px) opacity(0.3);
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -2;
    transform: translate(-50%,-50%);
    
}
.circle1{
    background: rgb(40, 60, 57);
    animation: anim1 30s infinite linear;
}
@keyframes anim1 {
    0%{left: 50%; top: 0%;}
    25%{left: 0%; top: 50%;}
    50%{left:50%; top: 100%;}
    75%{left:100%; top: 50%;}
    100%{left:50%; top: 0%;}
}
.circle2{
    background: rgb(90, 33, 108);
    animation: anim2 30s infinite linear;
}
@keyframes anim2 {
    0%{left: 0%; top: 0%;}
    33%{left:50%; top: 50%;}
    66%{left:0%; top:100%;}
    100%{left:0%; top: 0%;}
}
.circle3{
    background: rgb(25, 84, 82);
    animation: anim3 30s infinite linear;
}
@keyframes anim3 {
    0%{left: 100%; top: 0%;}
    33%{left: 50%; top: 50%;}
    66%{left:100%; top: 100%;}
    100%{left:100%; top: 0%;}
    }
header{
    width: 90vw;
    height: 10vh;
    /* border: 1px solid wheat; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 5vw;
    z-index: 1;
}

header h2{
    margin-left:5%;
    color: aliceblue;
    font-family: 'blacktoblack';     
    margin: 0%;
}

#menu{
    width: 30vw;
    height: 4vh;
    position: fixed;
    z-index: 100;
    right: 5vw;
    top: 2vh;
    /* border: 1px solid wheat; */
}

#menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-evenly; align-items: center;
    margin: 0%;
    padding: 0%;
}
#menu ul li{
    /* border: 1px solid wheat; */
    width:18%;
    height:100%;
    display: flex; justify-content: center; align-items: center;
   
    /* background: rgb(239, 238, 238); */
    position: relative;
}
#menu ul li::before{
    content: "";
    position: absolute; left:0%; bottom: 0;
    width: 0%;
    height: 10%;
    background:#f08c00;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}
#menu ul li::after{
    content: "";
    position: absolute; right:0%; top: 0;
    width: 0%;
    height: 10%;
    background:#00dcf0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

#menu ul li:hover::before,#menu ul li:hover::after{
    width: 100%; 
}
#menu ul li a{
    text-decoration: none;
     color:whitesmoke;
    font-family: teamspirit;
    margin: 0%;
    padding: 0%;
    font-size: large; 
}
#logo{
    height: 100%;
    /* border: 1px solid wheat; */
    filter: drop-shadow(0 0 5px wheat);
}

#mainContainer{
    width:90vw;
    height:100vh;
    position: absolute;
    left:5vw;
    top: 0vh;
    overflow-y: scroll;
    box-shadow: 0 0 10px black;
    z-index: 0;
    scroll-behavior: smooth;
}
#mainContainer section{
    width: 100%;
    height: 100%;
    position: relative;
}
#heroSection{
    width: 30%;
    height: 50%;
    /* border: 1px solid wheat; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -2;
    color: rgb(200, 198, 198);
    /* display: flex; flex-direction: column; align-items: center; */
    text-align: center;
}
#heroSection :nth-child(1){
    color: #f08c00;
}
#heroSection div{
    background: url(./images/herosecArt.png) no-repeat center/auto 100%;
    position: absolute;
    left: 85%;
    top: 0%;
    transform: rotate(50deg);
    width: 30%; height: 80%;
    /* border: 1px solid wheat; */
}

#heroSection b{
    font-family: 'sakana';
    font-size: 3em;
}

.hireMe{
    width: 150px;
    height:40px;
    background: linear-gradient(#490505,#b99402);
    box-shadow: 0 0 5px black;
    border: 0px;
    border-radius: 40px 0 40px 0;
    position: relative;
    overflow: hidden;
}
.hireMe::after{
    content: "Hire Me";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%; height: 100%;
    font-family: 'Akayla';
    font-size: 1.5em;
    color: rgb(253, 253, 253);
    display: flex; justify-content: center; align-items: center;
    font-weight: 600;
}
.hireMe::before{
    content: "";
    border-radius: 40px 0 40px 0;
    position: absolute;
    left: 10%;
    top: 0%;
    width: 100%; height: 100%;
    background: linear-gradient(to right,#091057,#024CAA);
    transition: all 0.5s ease-in-out;
}
.hireMe:hover{
    cursor: pointer;
}
.hireMe:hover::before{
    left: 100%;
    cursor: pointer;
}
#home{
    background: url(./images/homepageBG.png) no-repeat center/100%;
    clip-path: polygon(0% 50%,100% 50%,100% 100%,0% 100%);
    z-index: 0;
}

.socialIcons{
 width: 100%;
 height: 5%;
/* border: 1px solid wheat; */
 position: absolute;
 bottom:0;
 color: #ffffff;
 display: flex;
 justify-content: space-around;
 font-family: teamspirit;
 font-size: small;
}

#about,#skills,#services,#contact{
    background:black;
    z-index: 5;   
}

footer{
    width: 100%;
    height: 10%;
    border: 1px solid yellow;
    background: cyan;
}


